@font-face {
    font-family:IRANYekanBold;
    src: url("../font/IRANYekanBold.ttf")format("truetype");
}
@font-face {
    font-family:IRANYekanExtraBlackMsn;
    src: url("../font/IRANYekanExtraBlackMsn.ttf");
}